@charset "UTF-8";

@font-face {
    font-family: Organetto;
    src: url(Fontes/Fontspring-DEMO-organetto-ultracndultrabold.otf)
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}
a:hover{
    color: white;

}
.prefeitura a:focus {
    outline: none;
}

.container1{
    
    background-image: linear-gradient(to right,#00b6bd, #2cf8ff );
    width: 100vw;
}
.container-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}
.prefeitura-img{
    display: flex;
    justify-content: flex-start;

}
.image-container {
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.marca-container{
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1) brightness(2);
}
.nav-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
}
.nav-list li{
   margin-top: 30px;
   margin-right: 20px;
}

.nav-list a {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


.nav-list a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px; 
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}


.nav-list a:hover::after {
    width: 100%;
    left: 0;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, .img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
    
}
.slide-box img{
    width: 100%;
}
.grabing{
    cursor: grab;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manualbtn, .nav-auto div{
    border: 1px solid #2cf8ff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-manual .manualbtn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manualbtn:hover{
    background-color: #2cf8ff;
    transition: 0.5s;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #2cf8ff;
    transition: 0.5s;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #2cf8ff;
    transition: 0.5s;
    
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #2cf8ff;
    transition: 0.5s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
.text {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
}
.text p{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    text-indent: 2em;
    line-height: 1.7;
    font-size: 16px;
}
.text h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #00b6bd;
    margin-bottom: 20px;
}


.hamburguer {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
    
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

li {
    list-style: none;
}

@media (max-width: 750px) {

    .nav-manual{
        display: none;
    }
    .slider-content input[type="radio"] {
        pointer-events: none;
      }
    .container-box{
        display: flex;
        align-items: center;
    }


    .hamburguer {
        display: block;
        margin-right: 20px;
        z-index: 3;
        margin-top: 20px;

    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        clip-path: circle(100px at 90% -25%);
        transition: 0.4s ease-out;
        background: #00b6bd;
        justify-content: center;
        z-index: 2;
        pointer-events: none;
    }

   

    .container-box.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        
    }

    .container-box.active .hamburguer {
        margin-right: 20px;
        border-top-color: transparent;
        padding-top: 20px;
        padding-left: 20px;
    }

    .container-box.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .container-box.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .nav-auto, .nav-manual{
        margin-top: 60%;
    }

    
    
    
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
    margin: 0px 60px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.footer {
    background-color: #00b6bd;
    color: white;
    text-align: center;
    height: 300px; /* Definir altura fixa */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Ajusta o espaçamento interno */
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Evita quebra errada em telas pequenas */
}

.footer h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}


#presença{
    width: 70%;
    align-self: flex-start;
    margin-left: 20px;
}
h1{
    
    margin-left: 20px;
}
h2{
    align-self: center;
}
#footer-p{
    margin-bottom: 0px;
}
#data{
    width: 70%;
    margin-left: 20px;
}

#presença2{
    width: 70%;
    margin-left: 20px;
}

#btn_filt{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#label{
    margin-left: 20px;
}

#save{

    margin-left: 20px;
}